ion-pincode{
  .pincode-wrapper {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    height: 295px;
    margin: auto;
    background-color: #fcfcfc;
    border-top: 1px solid #c8c7cc;
    contain: content;
  }

  .pincode-md .pincode-wrapper, .pincode-wp .pincode-wrapper {
    background-color: #fff;
  }

  .pincode-toolbar {
    z-index: 1;
    width: 100%;
    contain: strict;
    display: block;
    height: 44px;
    border-bottom: 0.55px solid #c8c7cc;
    background: #fff;
  }

  .pincode-toolbar button {
    margin: 0;
    height: 44px;
    background: transparent;
    z-index: 1;
  }

  .pincode-toolbar .r-btn {
    float: right;
    text-align: left;
    font-size: 12px;
    text-transform: none;
    font-weight: 400;
  }

  .pincode-toolbar .pincode-title {
    text-align: center;
    width: 100%;
    line-height: 44px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .pincode-md .pincode-toolbar, .pincode-wp .pincode-toolbar {
    border-bottom: none;
  }

  .pincode-input {
    margin: 16px;
  }

  .pincode-input .pincode-input-grid {
    border: 1px solid #e4e4e4;
  }

  .pincode-input .pincode-input-row {
    text-align: center;
  }

  .pincode-input .pincode-input-row ion-col {
    border-left: 1px solid #e4e4e4;
    height: 32px;
    line-height: 32px;
    padding: 0;

    &:nth-child(1){
      border-left: 0;
    }
  }


  .pincode-input .pincode-input-row ion-col span.on {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background-color: #333;
    display: inline-block;
  }

  .pincode-button-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .pincode-button-wrapper .grid {
    padding: 0;
  }

  .pincode-button-wrapper ion-col {
    padding: 0;
  }

  .pincode-button-wrapper ion-col button {
    border: none;
    margin: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    box-shadow: none;
    border-radius: 0;
  }
}


